// Fonts 
$font-primary: 'Roboto', sans-serif;

// Colors 
$color-bg: #f5f6fa;
$color-text: #fff;
$color-primary: #182C61;
$color-btn: #44bd32;
$color-btn-hover: #4cd137;

// Breakpoints 
$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;