// Tipografias
@font-primary: 'Roboto', sans-serif;

// Espaçamento
@spacing-xs: 8px;
@spacing-sm: 16px;
@spacing-md: 24px;
@spacing-lg: 32px;
@spacing-xl: 40px;
@spacing-xxl: 56px;

// Curvatura 
@radius-sm: 8px;
@radius-md: 16px;